<form id="addShot" role="form" action="{{ url_for('shots_add') }}" method=post>
  <!-- <input type="hidden" name="show_id" value="{{settings['active_show']}}"> -->
  <!-- <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="project">Show</label>
        <select name="active_show" class="form-control">
          {% for show in shows %}
            <option value="{{show}}"{% if show == settings['active_show'] %}selected{% endif %}>{{shows[show]['name']}}</option>
          {% endfor %}
          <option value="">Single blendfile</option>
        </select>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="show_id">Project</label>
          <select name="show_id" id="show_id" class="form-control">
            {% for prj in projects %}
              <option value="{{projects[prj].id}}">{{projects[prj].name}}</option>
            {% endfor %}
          </select>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="snapshot_id">Revisions</label>
          <select name="snapshot_id" id="snapshot_id" class="form-control">
          <!-- insert list of revisions available for selected show -->
          </select>
        </div>
        <input type="button" placeholder="" class="pull-right btn btn-info btn-sm" value="checkout" onclick="checkout()">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="project">File</label>
        <div class="input-group">
          <input id="filepath" name="filepath" type="text" class="form-control">
          <div class="input-group-btn">
            <a id="browse_filepath" type="button" class="btn btn-default">Browse</a>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="shot_name">Shot name</label>
          <input type="text" class="form-control" id="shot_name" name="shot_name" placeholder="a2s31" required="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <label for="job_type">Job Type</label>
					<select name="job_type" id="job_type" class="form-control">
						<option value="render">render</option>
						<option value="bake">bake</option>
					</select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <label for="render_settings">Render settings</label>
          <select name="render_settings" class="form-control">
            {% for file in render_settings['settings_files'] %}
              <option value="{{file}}">{{file}}</option>
            {% endfor %}
              <option value="">File Settings</option>
          </select>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <label for="frame_start">Frame start</label>
          <input type="text" class="form-control" id="frame_start" name="frame_start" value="1" required="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label for="frame_end">Frame end</label>
          <input type="text" class="form-control" id="frame_end" name="frame_end" value="20" required="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <label for="chunk_size">Chunk size</label>
          <input type="text" class="form-control" id="chunk_size" name="chunk_size" value="5" required="">
        </div>
    </div>
  </div>
</form>

<script>
  $(document).ready(function() {
    if (window.show_id) {
      $('#snapshot_id').val(window.snapshot_id);
      $('#show_id').val(window.show_id);
    };

    function update_revisions() {
      var show_id = $('#show_id').val();
      var parent = $('#snapshot_id');
      parent.html('');
      $.get('/repo/revisions/'+show_id, function(data) {
        console.log(data)
        for (r in data.revisions) {
          revision = data.revisions[r];
          var option_element = $('<option></option>');
          option_element.text(revision.description);
          option_element.attr('value', revision.rev);
          option_element.appendTo(parent);
        }
      });
      // $('#snapshot_id option').filter( function() {
      //   return !$(this).hasClass($('#show_id').val());
      // }).hide();
      // $('#snapshot_id option').filter( function() {
      //   return $(this).hasClass($('#show_id').val());
      // }).show();
      // console.log($('#snapshot_id option').first().val());
      // $('#snapshot_id').val($('#snapshot_id option.'+$('#show_id').val()).first().val());
    }

    update_revisions();
    $('#show_id').bind('change', update_revisions);

    checkout = function() {
      var rev = $('#snapshot_id').val();
      var show_id = $('#show_id').val();

      $.get('/repo/checkout/'+show_id+'/'+rev, function(data) {
        alert("checkout revision "+rev);
      })
    };

    $('#filepath').val($('#modal_variable').val());

    $('#browse_filepath').click(function(e) {
      e.preventDefault();
      window.show_id = $('#show_id')[0].value;
      window.snapshot_id = $('#snapshot_id')[0].value;
      $.post('/shots/browse/', {show_id:window.show_id, snapshot_id:window.snapshot_id}, function(data) {
        $('.modal-body').html(data);
      });

      $('.modal-footer').children('.btn-primary').text('Select');
      $('.modal-footer').children('.btn-primary').addClass('select-file');
    });
  });

</script>


