<form id="addShow" role="form" action="{{ url_for('shows_add') }}" method=post>

  <div class="row well-sm">
   <label>Project</label>
    <div class="input-group">
      <label for="shot_name" class="input-group-addon">Name</label>
      <input type="text" class="form-control" id="show_name" name="name" placeholder="a2s31" required="">
    </div>
  </div>

  <div class="row well-sm">
    <label>Path</label>
    <div class="input-group">
      <label for="frame_start" class="input-group-addon">Server</label>
      <input type="text" class="form-control" id="show_path_server" name="path_server" required="">
    </div>
    <br>
    <div class="input-group">
      <label for="frame_end" class="input-group-addon">Linux</label>
      <input type="text" class="form-control" id="show_path_linux" name="path_linux" required="">
    </div>
    <br>
    <div class="input-group">
    <label for="show_osx_path" class="input-group-addon">OSX</label>
    <input type="text" class="form-control" id="show_path_osx" name="path_osx" required="">
    </div>
  </div>

  <div class="row well-sm">
    <label>Repo</label>
    <div class="input-group">
      <label for="repo_type" class="input-group-addon">Type</label>
      <select class="form-control" id="repo_type" name="repo_type">
        <option value="none">None</option>
        <option value="mercurial">Mercurial</option>
        <option value="subversion">Subversion</option>
      </select>
    </div>
    <br>
    <div class="input-group">
      <label for="repo_update_cmd" class="input-group-addon">Update</label>
      <input type="text" class="form-control" id="repo_update_cmd" name="repo_update_cmd">
    </div>
    <br>
    <div class="input-group">
      <label for="repo_checkout_cmd" class="input-group-addon">checkout</label>
      <input type="text" class="form-control" id="repo_checkout_cmd" name="repo_checkout_cmd">
    </div>
  </div>
</form>
